{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('rent.booking_payment') }}" method="POST">
        <h3>BOOKING DETAILS</h3>
        <label for="id">Reference ID</label>
        <input type="text" name="booking_id" id="id" value="{{booking.id}}" readonly>
        <!-- <p>Bike Collection Time: {{booking.collection_time}}</p>
        <p>Bike Return Time: {{booking.return_time}}</p>
        <p>Number Of Participants: {{booking.num_participants}}</p> -->

        <table class="table">
            <tbody>
              <tr>
                <td>Bike Collection Time</td>
                <td>{{booking.collection_time}}</td>
              </tr>
              <tr>
                <td>Bike Return Time</td>
                <td>{{booking.return_time}}</td>
              </tr>
              <tr>
                <td>Number Of Participants</td>
                <td>{{booking.num_participants}}</td>
              </tr>
            </tbody>
          </table>


        <br/>
        <br/>
        <h3>PAYMENT</h3>
        <label for="full_amt_due">Full Amount Due (AU$)</label>
        <input type="text" name="full_amount_due" id="full_amt_due" value="{{amt_due}}" readonly>
        <!-- <h4 class="form-control">AU${{amt_due}}</h4> -->
        <div class="form-check">
            <input class="form-check-input" type="radio" name="upfront_amount_paid" id="flexRadioDefault1" value="full">
            <label class="form-check-label" for="flexRadioDefault1">
              Pay Full Amount Now
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="upfront_amount_paid" id="flexRadioDefault2" value="deposit" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Pay Deposit Now (& the remainder at the shop)
            </label>
          </div>
        <br/>
        <a href="/" id="cancel" name="cancel" class="btn btn-default">Cancel</a><button type="submit" class="btn btn-primary">RENT</button>
    </form>
{% endblock %}

